:root{
    --colorPrimary: #003cbf;
    --background: #eee;
}

@keyframes scale{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: var(--colorPrimary);
}

header nav a{
    margin: 0 5px;
    padding-bottom: 5px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

header nav a::before{
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: 500ms all;
}

header nav a:hover::before{
    width: 100%;
}

main{
    width: 80%;
    margin: auto;
}

.offer{
    margin-top: 25px;
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.200), hsla(0, 0%, 0%, 0.200)),url(../imatges/img-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.offer h2{
    margin-left: 25px;
    color: white;
    font-size: 2.5em;
}

.elements{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.elements h2{
    width: fit-content;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--colorPrimary);
}

.elements .products{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.elements .products .col{
    width: 40%;
    height: 450px;
    margin: 15px;
    overflow: hidden;
}

.elements .products .col img{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 25px;
    transition: 500ms all;
}

.elements .products .col h3{
    width: fit-content;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--colorPrimary);
    font-weight: normal;
}

.top{
    margin-top: 25px;
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.200), hsla(0, 0%, 0%, 0.200)),url(../imatges/img-6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.top h2{
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    background-color: var(--colorPrimary);
    border-radius: 15px;
}

.productes{
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.productes .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.productes .card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 15px;
    overflow: hidden;
    border-radius: 15px;
    margin: 15px;
}

.productes h2{
    width: fit-content;
    margin: auto;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--colorPrimary);
}

.productes a{
    width: fit-content;
    margin: auto;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--colorPrimary);
    margin-top: 25px;
}


.productes .card .imatges{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70%;
    transition: all 500ms;
}

.productes .card .imatges img{
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.productes .card:hover .imatges{
    transform: translateX(-100%);
}

.productes .card .info{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.productes .card .info h2{
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--colorPrimary);
}

.productes .card .info p{
    margin-top: 10px;
}


.acerca-de{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    margin-top: 100px;
}

.acerca-de .card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-align: center;
    animation-name: scale;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

.acerca-de .card p{
    font-size: 1.5em;
    font-weight: bold;
}

.acerca-de .card p span{
    font-size: 1em;
    color: var(--colorPrimary);
    font-weight: normal;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.team h2{
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--colorPrimary);
}

.team .persones{
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .persones .persona{
    width: 35%;
    height: 400px;
    margin: 15px;
    position: relative;
}

.team .persones .persona .info-persona{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    transform: scale(0);
    transition: 500ms all;
}

.team .persones .persona:hover .info-persona{
    transform: scale(1);
}

.team .persones .persona .info-persona p{
    font-size: 1.5em;
}

.team .persones .persona .info-persona p span{
    color: var(--colorPrimary);
    font-weight: bold;
}

.team .persones .persona img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 50px;
}